<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="csrf" value="{{ctx.csrf}}">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <link href="https://lib.baomitu.com/element-ui/2.3.9/theme-chalk/index.css" rel="stylesheet"> -->
    <link href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.staticPath %>/css/app.css"> -->
    <script src="https://lib.baomitu.com/jquery/2.2.4/jquery.min.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
